<template>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style type="text/css">
            .card-img-overlay{
                margin: 0 auto;
                /* Added */
                float: none;
                top: 30%;

            }
             
            .card-img-top{
                font-weight: bold;
                margin-left: 10px;
            }
        </style>
    </head>
    <div class="card-img-overlay" style="width: 40rem;">
        <img class="card-img-top" src="..." alt="Log in to view your photobook">
        <div class="card-body">
            <div id="errorMsg" innerhtml.bind="loginError"></div>

            <label for="email">Email</label>

            <input value.bind="email" type="email" autofocus class="form-control" id="email" placeholder="Email"></input>

            <label for="password">Password</label>

            <input value.bind="password" type="password" class="form-control" id="password" placeholder="Password"></input>

            <button type="button" class="btn btn-light" click.trigger="login()">Login</button>
            <span class="registerLink" click.trigger="showRegister()">Register</span>
        </div>
    </div>
</template>